#root {
  margin: 0 auto;
  padding: 2px;
  text-align: center;
  background-color: #E8E8E8;
}

.card {
  padding: 20px;
  width: 600px;
  margin: auto;
  margin-top: 20px; 
}

.top {
  padding-top: 70px;
  padding-bottom: 20px;
}


.tracker {
  padding-top: 40px;
  padding-bottom: 20px;

}


.Questions {
  background-color: #E8E8E8;
  padding: 1px;
  padding-bottom: 30px;
  width: 95%;
  height: 95%;
  margin: 0 auto;
  color: black;
}

.fade-in {
  transition: opacity 1s ease;
}
.fade-out {
  opacity: 0;
  transition: opacity 1s ease;
}

.image {
  max-height: 400px;
  width: auto;
  margin: auto;
}

.feedback {
  
  width: 800px;
  margin: auto;
}

ul {
  background-color: #EAEAEA;
  padding: 16px;
  font-size: 20px;
  margin: auto;
  margin-top: 8px;
  list-style-type: none;
  color: black;
  width: 350px;
}

li {
  width: 210px;
    background: #ADADAD;
    font-size: 18px;
    margin: 10px auto;
    padding: 1px;
    cursor: pointer;
}

.start {
  width: 300px;
    background: #ADADAD;
    font-size: 24px;
    margin: 10px auto;
    margin-top: 100px;
    margin-bottom: 100px;
    height: 50px;
    color: black;
    
    padding: 11px;
    cursor: pointer;
}
.start:hover {background: white;
  transform: scale(1.03);     /* Equal to scaleX(2) scaleY(2) */
  transition-duration: 0.5s;}

li:hover {
    /*opacity: 0.3;*/
    background: white;
    transform: scale(1.03);     /* Equal to scaleX(2) scaleY(2) */
    transition-duration: 0.5s;
   /*transform: scale(0.6);*/
}

.question-text{
  color: rgb(80, 80, 94);
  font-size: 24px;
}

.image {
  
  max-width: 300px;
  margin: 10px auto;

}

.source {
  font-size: 12px;
}